@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kaushan+Script&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-family: "DM Sans", sans-serif;
}
:root {
    --primary-color: #017b6e;
    --secondary-color: #f26f55;
    --section-bg: #12151e;
    --section-light: #222839;
    --background-linear: linear-gradient(180deg, #efeedb 0%, rgba(239,238, 219, 0) 100% )

}